<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.AppPushLogMapper">
	 
	
    
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.AppPushLog">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="description" property="description" jdbcType="VARCHAR"/>
		<result column="custom_content" property="custom_content" jdbcType="VARCHAR"/>
		<result column="device" property="device" jdbcType="INTEGER"/>
		<result column="app_type" property="app_type" jdbcType="INTEGER"/>
		<result column="send_type" property="send_type" jdbcType="INTEGER"/>
		<result column="sendtime" property="sendtime" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="reciever_type" property="reciever_type" jdbcType="INTEGER"/>
		<result column="reciever_list" property="reciever_list" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.AppPushLog">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="description" property="description" jdbcType="VARCHAR"/>
		<result column="custom_content" property="custom_content" jdbcType="VARCHAR"/>
		<result column="device" property="device" jdbcType="INTEGER"/>
		<result column="app_type" property="app_type" jdbcType="INTEGER"/>
		<result column="send_type" property="send_type" jdbcType="INTEGER"/>
		<result column="sendtime" property="sendtime" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="reciever_type" property="reciever_type" jdbcType="INTEGER"/>
		<result column="reciever_list" property="reciever_list" jdbcType="VARCHAR"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,title,description,custom_content,device,app_type,send_type,sendtime,status,reciever_type,reciever_list
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="title != null">and title = #{title,jdbcType=VARCHAR}</if>
		<if test="description != null">and description = #{description,jdbcType=VARCHAR}</if>
		<if test="custom_content != null">and custom_content = #{custom_content,jdbcType=VARCHAR}</if>
		<if test="device != null">and device = #{device,jdbcType=INTEGER}</if>
		<if test="app_type != null">and app_type = #{app_type,jdbcType=INTEGER}</if>
		<if test="send_type != null">and send_type = #{send_type,jdbcType=INTEGER}</if>
		<if test="sendtime != null">and sendtime = #{sendtime,jdbcType=TIMESTAMP}</if>
		<if test="status != null">and status = #{status,jdbcType=INTEGER}</if>
		<if test="reciever_type != null">and reciever_type = #{reciever_type,jdbcType=INTEGER}</if>
		<if test="reciever_list != null">and reciever_list = #{reciever_list,jdbcType=VARCHAR}</if>
	</sql>
	<sql id="ifStatement">
		title= #{title},
		description= #{description},
		custom_content= #{custom_content},
		device= #{device},
		app_type= #{app_type},
		send_type= #{send_type},
		sendtime= #{sendtime},
		status= #{status},
		reciever_type= #{reciever_type},
		reciever_list= #{reciever_list},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.AppPushLog" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_app_push_log 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.AppPushLog" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_app_push_log obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_app_push_log obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.AppPushLog" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_app_push_log obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.AppPushLog" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_app_push_log(addTime,deleteStatus,title,description,custom_content,device,app_type,send_type,sendtime,status,reciever_type,reciever_list)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{title,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{custom_content,jdbcType=VARCHAR},#{device,jdbcType=INTEGER},#{app_type,jdbcType=INTEGER},#{send_type,jdbcType=INTEGER},#{sendtime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER},#{reciever_type,jdbcType=INTEGER},#{reciever_list,jdbcType=VARCHAR}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.AppPushLog">
		update redpigmall_app_push_log
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_app_push_log where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_app_push_log where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.AppPushLog" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_app_push_log obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.AppPushLog" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_app_push_log obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.AppPushLog" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_app_push_log
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_app_push_log where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
