<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.BuyGiftMapper">
     
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.BuyGift">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
		<result column="store_name" property="store_name" jdbcType="VARCHAR"/>
		<result column="gift_type" property="gift_type" jdbcType="INTEGER"/>
		<result column="condition_amount" property="condition_amount" jdbcType="DECIMAL"/>
		<result column="gift_status" property="gift_status" jdbcType="INTEGER"/>
		<result column="failed_reason" property="failed_reason" jdbcType="VARCHAR"/>
		<result column="goods_info" property="goods_info" jdbcType="VARCHAR"/>
		<result column="gift_info" property="gift_info" jdbcType="VARCHAR"/>
		<result column="beginTime" property="beginTime" jdbcType="TIMESTAMP"/>
		<result column="endTime" property="endTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.BuyGift">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
		<result column="store_name" property="store_name" jdbcType="VARCHAR"/>
		<result column="gift_type" property="gift_type" jdbcType="INTEGER"/>
		<result column="condition_amount" property="condition_amount" jdbcType="DECIMAL"/>
		<result column="gift_status" property="gift_status" jdbcType="INTEGER"/>
		<result column="failed_reason" property="failed_reason" jdbcType="VARCHAR"/>
		<result column="goods_info" property="goods_info" jdbcType="VARCHAR"/>
		<result column="gift_info" property="gift_info" jdbcType="VARCHAR"/>
		<result column="beginTime" property="beginTime" jdbcType="TIMESTAMP"/>
		<result column="endTime" property="endTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,store_id,store_name,gift_type,condition_amount,gift_status,failed_reason,goods_info,gift_info,beginTime,endTime
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="store_id != null">and store_id = #{store_id,jdbcType=BIGINT}</if>
		<if test="store_name != null">and store_name = #{store_name,jdbcType=VARCHAR}</if>
		<if test="gift_type != null">and gift_type = #{gift_type,jdbcType=INTEGER}</if>
		<if test="condition_amount != null">and condition_amount = #{condition_amount,jdbcType=DECIMAL}</if>
		<if test="gift_status != null">and gift_status = #{gift_status,jdbcType=INTEGER}</if>
		<if test="gift_status1 != null and gift_status2 != null">and (gift_status = #{gift_status1,jdbcType=INTEGER} or gift_status = #{gift_status2,jdbcType=INTEGER})</if>
		<if test="failed_reason != null">and failed_reason = #{failed_reason,jdbcType=VARCHAR}</if>
		<if test="goods_info != null">and goods_info = #{goods_info,jdbcType=VARCHAR}</if>
		<if test="gift_info != null">and gift_info = #{gift_info,jdbcType=VARCHAR}</if>
		<if test="beginTime != null">and beginTime = #{beginTime,jdbcType=TIMESTAMP}</if>
		<if test="beginTime_more_than_equal != null">and beginTime <![CDATA[ >= ]]> #{beginTime_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="beginTime_less_than_equal != null">and beginTime <![CDATA[ <= ]]> #{beginTime_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="endTime != null">and endTime = #{endTime,jdbcType=TIMESTAMP}</if>
		<if test="beginTime_more_than_equal !=null">and beginTime <![CDATA[ >= ]]> #{beginTime_more_than_equal,jdbcType=TIMESTAMP}  </if>
		<if test="endTime_less_than_equal !=null">and endTime <![CDATA[ <= ]]> #{endTime_less_than_equal,jdbcType=TIMESTAMP}  </if>
		<if test="store_name_like !=null">
			and store_name like concat(concat('%',#{store_name_like}),'%') 
		</if>
	</sql>
	<sql id="ifStatement">
		store_id= #{store_id},
		store_name= #{store_name},
		gift_type= #{gift_type},
		condition_amount= #{condition_amount},
		gift_status= #{gift_status},
		failed_reason= #{failed_reason},
		goods_info= #{goods_info},
		gift_info= #{gift_info},
		beginTime= #{beginTime},
		endTime= #{endTime},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.BuyGift" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_buygift 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.BuyGift" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_buygift obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_buygift obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.BuyGift" resultMap="BaseResultMap" parameterType="map">
		SELECT
		<include refid="Base_Column_List"/>
		FROM redpigmall_buygift obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					ORDER BY ${orderBy} ${orderType}
				</when>
				<otherwise>
					ORDER BY obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.BuyGift" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_buygift(addTime,deleteStatus,store_id,store_name,gift_type,condition_amount,gift_status,failed_reason,goods_info,gift_info,beginTime,endTime)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{store_id,jdbcType=BIGINT},#{store_name,jdbcType=VARCHAR},#{gift_type,jdbcType=INTEGER},#{condition_amount,jdbcType=DECIMAL},#{gift_status,jdbcType=INTEGER},#{failed_reason,jdbcType=VARCHAR},#{goods_info,jdbcType=VARCHAR},#{gift_info,jdbcType=VARCHAR},#{beginTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.BuyGift">
		update redpigmall_buygift
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_buygift where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_buygift where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.BuyGift" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_buygift obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.BuyGift" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_buygift obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.BuyGift" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_buygift
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_buygift where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
