<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.CloudPurchaseGoodsMapper">
	 
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.CloudPurchaseGoods">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="class_id" property="class_id" jdbcType="BIGINT"/>
		<result column="goods_name" property="goods_name" jdbcType="VARCHAR"/>
		<result column="sell_num" property="sell_num" jdbcType="INTEGER"/>
		<result column="goodsNum" property="goodsNum" jdbcType="INTEGER"/>
		<result column="goods_status" property="goods_status" jdbcType="INTEGER"/>
		<result column="primary_photo" property="primary_photo" jdbcType="VARCHAR"/>
		<result column="secondary_photo" property="secondary_photo" jdbcType="VARCHAR"/>
		<result column="goods_description" property="goods_description" jdbcType="VARCHAR"/>
		<result column="goods_detail" property="goods_detail" jdbcType="VARCHAR"/>
		<result column="goods_price" property="goods_price" jdbcType="INTEGER"/>
		<result column="pay_type" property="pay_type" jdbcType="INTEGER"/>
		<result column="least_rmb" property="least_rmb" jdbcType="INTEGER"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.CloudPurchaseGoods">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="class_id" property="class_id" jdbcType="BIGINT"/>
		<result column="goods_name" property="goods_name" jdbcType="VARCHAR"/>
		<result column="sell_num" property="sell_num" jdbcType="INTEGER"/>
		<result column="goodsNum" property="goodsNum" jdbcType="INTEGER"/>
		<result column="goods_status" property="goods_status" jdbcType="INTEGER"/>
		<result column="primary_photo" property="primary_photo" jdbcType="VARCHAR"/>
		<result column="secondary_photo" property="secondary_photo" jdbcType="VARCHAR"/>
		<result column="goods_description" property="goods_description" jdbcType="VARCHAR"/>
		<result column="goods_detail" property="goods_detail" jdbcType="VARCHAR"/>
		<result column="goods_price" property="goods_price" jdbcType="INTEGER"/>
		<result column="pay_type" property="pay_type" jdbcType="INTEGER"/>
		<result column="least_rmb" property="least_rmb" jdbcType="INTEGER"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,class_id,goods_name,sell_num,goodsNum,goods_status,primary_photo,secondary_photo,goods_description,goods_detail,goods_price,pay_type,least_rmb
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="class_id != null">and class_id = #{class_id,jdbcType=BIGINT}</if>
		<if test="goods_name != null">and goods_name = #{goods_name,jdbcType=VARCHAR}</if>
		<if test="sell_num != null">and sell_num = #{sell_num,jdbcType=INTEGER}</if>
		<if test="goodsNum != null">and goodsNum = #{goodsNum,jdbcType=INTEGER}</if>
		<if test="goods_status != null">and goods_status = #{goods_status,jdbcType=INTEGER}</if>
		<if test="primary_photo != null">and primary_photo = #{primary_photo,jdbcType=VARCHAR}</if>
		<if test="secondary_photo != null">and secondary_photo = #{secondary_photo,jdbcType=VARCHAR}</if>
		<if test="goods_description != null">and goods_description = #{goods_description,jdbcType=VARCHAR}</if>
		<if test="goods_detail != null">and goods_detail = #{goods_detail,jdbcType=VARCHAR}</if>
		<if test="goods_price != null">and goods_price = #{goods_price,jdbcType=INTEGER}</if>
		<if test="pay_type != null">and pay_type = #{pay_type,jdbcType=INTEGER}</if>
		<if test="least_rmb != null">and least_rmb = #{least_rmb,jdbcType=INTEGER}</if>
		<if test="goods_name_like != null">and goods_name like CONCAT('%',#{goods_name_like},'%') </if>
	</sql>
	<sql id="ifStatement">
		class_id= #{class_id},
		goods_name= #{goods_name},
		sell_num= #{sell_num},
		goodsNum= #{goodsNum},
		goods_status= #{goods_status},
		primary_photo= #{primary_photo},
		secondary_photo= #{secondary_photo},
		goods_description= #{goods_description},
		goods_detail= #{goods_detail},
		goods_price= #{goods_price},
		pay_type= #{pay_type},
		least_rmb= #{least_rmb},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.CloudPurchaseGoods" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_cloud_purchase_goods 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.CloudPurchaseGoods" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_cloud_purchase_goods obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_cloud_purchase_goods obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.CloudPurchaseGoods" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_cloud_purchase_goods obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.CloudPurchaseGoods" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_cloud_purchase_goods(addTime,deleteStatus,class_id,goods_name,sell_num,goodsNum,goods_status,primary_photo,secondary_photo,goods_description,goods_detail,goods_price,pay_type,least_rmb)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{class_id,jdbcType=BIGINT},#{goods_name,jdbcType=VARCHAR},#{sell_num,jdbcType=INTEGER},#{goodsNum,jdbcType=INTEGER},#{goods_status,jdbcType=INTEGER},#{primary_photo,jdbcType=VARCHAR},#{secondary_photo,jdbcType=VARCHAR},#{goods_description,jdbcType=VARCHAR},#{goods_detail,jdbcType=VARCHAR},#{goods_price,jdbcType=INTEGER},#{pay_type,jdbcType=INTEGER},#{least_rmb,jdbcType=INTEGER}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.CloudPurchaseGoods">
		update redpigmall_cloud_purchase_goods
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_cloud_purchase_goods where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_cloud_purchase_goods where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.CloudPurchaseGoods" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_cloud_purchase_goods obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.CloudPurchaseGoods" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_cloud_purchase_goods obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.CloudPurchaseGoods" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_cloud_purchase_goods
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_cloud_purchase_goods where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
