<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.CmsIndexTemplateMapper">
	 
	
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.CmsIndexTemplate">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="floor_info1" property="floor_info1" jdbcType="VARCHAR"/>
		<result column="floor_info2" property="floor_info2" jdbcType="VARCHAR"/>
		<result column="floor_info3" property="floor_info3" jdbcType="VARCHAR"/>
		<result column="floor_info4" property="floor_info4" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="sequence" property="sequence" jdbcType="INTEGER"/>
		<result column="whether_show" property="whether_show" jdbcType="INTEGER"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.CmsIndexTemplate">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="floor_info1" property="floor_info1" jdbcType="VARCHAR"/>
		<result column="floor_info2" property="floor_info2" jdbcType="VARCHAR"/>
		<result column="floor_info3" property="floor_info3" jdbcType="VARCHAR"/>
		<result column="floor_info4" property="floor_info4" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="sequence" property="sequence" jdbcType="INTEGER"/>
		<result column="whether_show" property="whether_show" jdbcType="INTEGER"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,floor_info1,floor_info2,floor_info3,floor_info4,type,title,sequence,whether_show
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="floor_info1 != null">and floor_info1 = #{floor_info1,jdbcType=VARCHAR}</if>
		<if test="floor_info2 != null">and floor_info2 = #{floor_info2,jdbcType=VARCHAR}</if>
		<if test="floor_info3 != null">and floor_info3 = #{floor_info3,jdbcType=VARCHAR}</if>
		<if test="floor_info4 != null">and floor_info4 = #{floor_info4,jdbcType=VARCHAR}</if>
		<if test="type != null">and type = #{type,jdbcType=VARCHAR}</if>
		<if test="title != null">and title = #{title,jdbcType=VARCHAR}</if>
		<if test="sequence != null">and sequence = #{sequence,jdbcType=INTEGER}</if>
		<if test="whether_show != null">and whether_show = #{whether_show,jdbcType=INTEGER}</if>
	</sql>
	<sql id="ifStatement">
		floor_info1= #{floor_info1},
		floor_info2= #{floor_info2},
		floor_info3= #{floor_info3},
		floor_info4= #{floor_info4},
		type= #{type},
		title= #{title},
		sequence= #{sequence},
		whether_show= #{whether_show},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.CmsIndexTemplate" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_cmsindextemplate 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.CmsIndexTemplate" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_cmsindextemplate obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_cmsindextemplate obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.CmsIndexTemplate" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_cmsindextemplate obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.CmsIndexTemplate" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_cmsindextemplate(addTime,deleteStatus,floor_info1,floor_info2,floor_info3,floor_info4,type,title,sequence,whether_show)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{floor_info1,jdbcType=VARCHAR},#{floor_info2,jdbcType=VARCHAR},#{floor_info3,jdbcType=VARCHAR},#{floor_info4,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{sequence,jdbcType=INTEGER},#{whether_show,jdbcType=INTEGER}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.CmsIndexTemplate">
		update redpigmall_cmsindextemplate
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_cmsindextemplate where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_cmsindextemplate where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.CmsIndexTemplate" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_cmsindextemplate obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.CmsIndexTemplate" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_cmsindextemplate obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.CmsIndexTemplate" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_cmsindextemplate
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_cmsindextemplate where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
