<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.ConsultMapper">
	 
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.Consult">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="goods_id" property="goods_id" jdbcType="BIGINT"/>
		<result column="goods_info" property="goods_info" jdbcType="VARCHAR"/>
		<result column="whether_self" property="whether_self" jdbcType="INTEGER"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
		<result column="store_name" property="store_name" jdbcType="VARCHAR"/>
		<result column="consult_type" property="consult_type" jdbcType="VARCHAR"/>
		<result column="consult_content" property="consult_content" jdbcType="VARCHAR"/>
		<result column="reply" property="reply" jdbcType="BIT"/>
		<result column="consult_reply" property="consult_reply" jdbcType="VARCHAR"/>
		<result column="consult_user_id" property="consult_user_id" jdbcType="BIGINT"/>
		<result column="consult_user_name" property="consult_user_name" jdbcType="VARCHAR"/>
		<result column="reply_user_id" property="reply_user_id" jdbcType="BIGINT"/>
		<result column="reply_user_name" property="reply_user_name" jdbcType="VARCHAR"/>
		<result column="reply_time" property="reply_time" jdbcType="TIMESTAMP"/>
		<result column="consult_email" property="consult_email" jdbcType="VARCHAR"/>
		<result column="unsatisfy" property="unsatisfy" jdbcType="INTEGER"/>
		<result column="satisfy" property="satisfy" jdbcType="INTEGER"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.Consult">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="goods_id" property="goods_id" jdbcType="BIGINT"/>
		<result column="goods_info" property="goods_info" jdbcType="VARCHAR"/>
		<result column="whether_self" property="whether_self" jdbcType="INTEGER"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
		<result column="store_name" property="store_name" jdbcType="VARCHAR"/>
		<result column="consult_type" property="consult_type" jdbcType="VARCHAR"/>
		<result column="consult_content" property="consult_content" jdbcType="VARCHAR"/>
		<result column="reply" property="reply" jdbcType="BIT"/>
		<result column="consult_reply" property="consult_reply" jdbcType="VARCHAR"/>
		<result column="consult_user_id" property="consult_user_id" jdbcType="BIGINT"/>
		<result column="consult_user_name" property="consult_user_name" jdbcType="VARCHAR"/>
		<result column="reply_user_id" property="reply_user_id" jdbcType="BIGINT"/>
		<result column="reply_user_name" property="reply_user_name" jdbcType="VARCHAR"/>
		<result column="reply_time" property="reply_time" jdbcType="TIMESTAMP"/>
		<result column="consult_email" property="consult_email" jdbcType="VARCHAR"/>
		<result column="unsatisfy" property="unsatisfy" jdbcType="INTEGER"/>
		<result column="satisfy" property="satisfy" jdbcType="INTEGER"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,goods_id,goods_info,whether_self,store_id,store_name,consult_type,consult_content,reply,consult_reply,consult_user_id,consult_user_name,reply_user_id,reply_user_name,reply_time,consult_email,unsatisfy,satisfy
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="goods_id != null">and goods_id = #{goods_id,jdbcType=BIGINT}</if>
		<if test="goods_info != null">and goods_info = #{goods_info,jdbcType=VARCHAR}</if>
		<if test="whether_self != null">and whether_self = #{whether_self,jdbcType=INTEGER}</if>
		<if test="store_id != null">and store_id = #{store_id,jdbcType=BIGINT}</if>
		<if test="store_name != null">and store_name = #{store_name,jdbcType=VARCHAR}</if>
		<if test="consult_type != null">and consult_type = #{consult_type,jdbcType=VARCHAR}</if>
		<if test="consult_content != null">and consult_content = #{consult_content,jdbcType=VARCHAR}</if>
		<if test="reply != null">and reply = #{reply,jdbcType=BIT}</if>
		<if test="consult_reply != null">and consult_reply = #{consult_reply,jdbcType=VARCHAR}</if>
		<if test="consult_user_id != null">and consult_user_id = #{consult_user_id,jdbcType=BIGINT}</if>
		<if test="consult_user_name != null">and consult_user_name = #{consult_user_name,jdbcType=VARCHAR}</if>
		<if test="reply_user_id != null">and reply_user_id = #{reply_user_id,jdbcType=BIGINT}</if>
		<if test="reply_user_name != null">and reply_user_name = #{reply_user_name,jdbcType=VARCHAR}</if>
		<if test="reply_time != null">and reply_time = #{reply_time,jdbcType=TIMESTAMP}</if>
		<if test="consult_email != null">and consult_email = #{consult_email,jdbcType=VARCHAR}</if>
		<if test="unsatisfy != null">and unsatisfy = #{unsatisfy,jdbcType=INTEGER}</if>
		<if test="satisfy != null">and satisfy = #{satisfy,jdbcType=INTEGER}</if>
	</sql>
	<sql id="ifStatement">
		goods_id= #{goods_id},
		goods_info= #{goods_info},
		whether_self= #{whether_self},
		store_id= #{store_id},
		store_name= #{store_name},
		consult_type= #{consult_type},
		consult_content= #{consult_content},
		reply= #{reply},
		consult_reply= #{consult_reply},
		consult_user_id= #{consult_user_id},
		consult_user_name= #{consult_user_name},
		reply_user_id= #{reply_user_id},
		reply_user_name= #{reply_user_name},
		reply_time= #{reply_time},
		consult_email= #{consult_email},
		unsatisfy= #{unsatisfy},
		satisfy= #{satisfy},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.Consult" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_consult 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.Consult" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_consult obj 
		where 1=1 
		<include refid="whereStatement"/> 
		<choose>
			<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
			<otherwise>
					order by obj.addTime desc
			</otherwise>
		</choose>
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_consult obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.Consult" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_consult obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.Consult" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_consult(addTime,deleteStatus,goods_id,goods_info,whether_self,store_id,store_name,consult_type,consult_content,reply,consult_reply,consult_user_id,consult_user_name,reply_user_id,reply_user_name,reply_time,consult_email,unsatisfy,satisfy)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{goods_id,jdbcType=BIGINT},#{goods_info,jdbcType=VARCHAR},#{whether_self,jdbcType=INTEGER},#{store_id,jdbcType=BIGINT},#{store_name,jdbcType=VARCHAR},#{consult_type,jdbcType=VARCHAR},#{consult_content,jdbcType=VARCHAR},#{reply,jdbcType=BIT},#{consult_reply,jdbcType=VARCHAR},#{consult_user_id,jdbcType=BIGINT},#{consult_user_name,jdbcType=VARCHAR},#{reply_user_id,jdbcType=BIGINT},#{reply_user_name,jdbcType=VARCHAR},#{reply_time,jdbcType=TIMESTAMP},#{consult_email,jdbcType=VARCHAR},#{unsatisfy,jdbcType=INTEGER},#{satisfy,jdbcType=INTEGER}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.Consult">
		update redpigmall_consult
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_consult where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_consult where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.Consult" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_consult obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.Consult" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_consult obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.Consult" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_consult
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_consult where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
