<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.CustomerRelManaMapper">
	 
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.CustomerRelMana">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
		<result column="userName" property="userName" jdbcType="VARCHAR"/>
		<result column="user_id" property="user_id" jdbcType="BIGINT"/>
		<result column="whether_self" property="whether_self" jdbcType="INTEGER"/>
		<result column="cus_type" property="cus_type" jdbcType="INTEGER"/>
		<result column="goods_id" property="goods_id" jdbcType="BIGINT"/>
		<result column="goods_name" property="goods_name" jdbcType="VARCHAR"/>
		<result column="whether_send_email" property="whether_send_email" jdbcType="INTEGER"/>
		<result column="whether_send_message" property="whether_send_message" jdbcType="INTEGER"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.CustomerRelMana">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
		<result column="userName" property="userName" jdbcType="VARCHAR"/>
		<result column="user_id" property="user_id" jdbcType="BIGINT"/>
		<result column="whether_self" property="whether_self" jdbcType="INTEGER"/>
		<result column="cus_type" property="cus_type" jdbcType="INTEGER"/>
		<result column="goods_id" property="goods_id" jdbcType="BIGINT"/>
		<result column="goods_name" property="goods_name" jdbcType="VARCHAR"/>
		<result column="whether_send_email" property="whether_send_email" jdbcType="INTEGER"/>
		<result column="whether_send_message" property="whether_send_message" jdbcType="INTEGER"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,store_id,userName,user_id,whether_self,cus_type,goods_id,goods_name,whether_send_email,whether_send_message
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="store_id != null">and store_id = #{store_id,jdbcType=BIGINT}</if>
		<if test="userName != null">and userName = #{userName,jdbcType=VARCHAR}</if>
		<if test="user_id != null">and user_id = #{user_id,jdbcType=BIGINT}</if>
		<if test="whether_self != null">and whether_self = #{whether_self,jdbcType=INTEGER}</if>
		<if test="cus_type != null">and cus_type = #{cus_type,jdbcType=INTEGER}</if>
		<if test="goods_id != null">and goods_id = #{goods_id,jdbcType=BIGINT}</if>
		<if test="goods_name != null">and goods_name = #{goods_name,jdbcType=VARCHAR}</if>
		<if test="whether_send_email != null">and whether_send_email = #{whether_send_email,jdbcType=INTEGER}</if>
		<if test="whether_send_message != null">and whether_send_message = #{whether_send_message,jdbcType=INTEGER}</if>
	</sql>
	<sql id="ifStatement">
		store_id= #{store_id},
		userName= #{userName},
		user_id= #{user_id},
		whether_self= #{whether_self},
		cus_type= #{cus_type},
		goods_id= #{goods_id},
		goods_name= #{goods_name},
		whether_send_email= #{whether_send_email},
		whether_send_message= #{whether_send_message},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.CustomerRelMana" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_customerrelmana 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.CustomerRelMana" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_customerrelmana obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_customerrelmana obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.CustomerRelMana" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_customerrelmana obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.CustomerRelMana" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_customerrelmana(addTime,deleteStatus,store_id,userName,user_id,whether_self,cus_type,goods_id,goods_name,whether_send_email,whether_send_message)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{store_id,jdbcType=BIGINT},#{userName,jdbcType=VARCHAR},#{user_id,jdbcType=BIGINT},#{whether_self,jdbcType=INTEGER},#{cus_type,jdbcType=INTEGER},#{goods_id,jdbcType=BIGINT},#{goods_name,jdbcType=VARCHAR},#{whether_send_email,jdbcType=INTEGER},#{whether_send_message,jdbcType=INTEGER}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.CustomerRelMana">
		update redpigmall_customerrelmana
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_customerrelmana where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_customerrelmana where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.CustomerRelMana" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_customerrelmana obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.CustomerRelMana" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_customerrelmana obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.CustomerRelMana" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_customerrelmana
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_customerrelmana where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
