<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.GoodsTypeMapper">
	 
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.GoodsType">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="sequence" property="sequence" jdbcType="INTEGER"/>
		<collection property="gbs" column="id" select="com.redpigmall.dao.GoodsBrandMapper.getGbsByGoodsTypeId"/>
		<collection property="properties" column="id" select="com.redpigmall.dao.GoodsTypePropertyMapper.getGoodsTypeByGoodsTypeId"/>
		<collection property="gcs" column="id" select="com.redpigmall.dao.GoodsClassMapper.getGoodsTypeByGoodsTypeId"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.GoodsType">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="sequence" property="sequence" jdbcType="INTEGER"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,name,sequence
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="redPig_id != null">and id != #{redPig_id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="name != null">and name = #{name,jdbcType=VARCHAR}</if>
		<if test="sequence != null">and sequence = #{sequence,jdbcType=INTEGER}</if>
	</sql>
	<sql id="ifStatement">
		name= #{name},
		sequence= #{sequence},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.GoodsType" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_goodstype 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.GoodsType" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_goodstype obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_goodstype obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<update id="update" parameterType="com.redpigmall.domain.GoodsType">
		update redpigmall_goodstype 
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<insert id="save" parameterType="com.redpigmall.domain.GoodsType" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
		insert into redpigmall_goodstype(
			addTime,deleteStatus,name,sequence
		)
		values(
		#{addTime,jdbcType=TIMESTAMP},
		#{deleteStatus,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{sequence,jdbcType=INTEGER}
		)
	</insert>
	
	<select id="getGbsByGoodsBrandId" resultType="com.redpigmall.domain.GoodsType" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT GoodsType.* FROM redpigmall_goodstype GoodsType 
		JOIN redpigmall_goodstype_brand ftn ON ftn.type_id = GoodsType.id AND ftn.brand_id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteGoodsTypeAndGoodsBrand" parameterType="java.util.List">
		delete from redpigmall_goodstype_brand where type_id in 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")"> 
            #{item}
        </foreach>
	</delete>
	<delete id="delete" parameterType="java.util.List">
		delete from redpigmall_goodstype where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")"> 
            #{item}  
        </foreach>
	</delete>
	<select id="queryPages" resultType="com.redpigmall.domain.GoodsType" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_goodstype obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.GoodsType" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_goodstype(addTime,deleteStatus,name,sequence)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{sequence,jdbcType=INTEGER}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.GoodsType">
		update redpigmall_goodstype
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_goodstype where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_goodstype where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.GoodsType" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_goodstype obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.GoodsType" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_goodstype obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.GoodsType" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_goodstype
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_goodstype where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
