<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.GoodsTypePropertyMapper">
	 
	
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.GoodsTypeProperty">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="sequence" property="sequence" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="value" property="value" jdbcType="VARCHAR"/>
		<result column="display" property="display" jdbcType="BIT"/>
		<result column="hc_value" property="hc_value" jdbcType="VARCHAR"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
		<association property="goodsType" column="goodsType_id" select="com.redpigmall.dao.GoodsTypeMapper.selectByPrimaryKey"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.GoodsTypeProperty">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="sequence" property="sequence" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="value" property="value" jdbcType="VARCHAR"/>
		<result column="display" property="display" jdbcType="BIT"/>
		<result column="hc_value" property="hc_value" jdbcType="VARCHAR"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,sequence,name,value,display,hc_value,goodsType_id,store_id
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="sequence != null">and sequence = #{sequence,jdbcType=INTEGER}</if>
		<if test="name != null">and name = #{name,jdbcType=VARCHAR}</if>
		<if test="value != null">and value = #{value,jdbcType=VARCHAR}</if>
		<if test="display != null">and display = #{display,jdbcType=BIT}</if>
		<if test="hc_value != null">and hc_value = #{hc_value,jdbcType=VARCHAR}</if>
		<if test="store_id != null">and store_id = #{store_id,jdbcType=BIGINT}</if>
		<if test="goodsType_id != null">and goodsType_id = #{goodsType_id,jdbcType=BIGINT}</if>
	</sql>
	<sql id="ifStatement">
		sequence= #{sequence},
		name= #{name},
		value= #{value},
		display= #{display},
		hc_value= #{hc_value},
		<if test="goodsType == null or goodsType.id == null">goodsType_id = null,</if>
		<if test="goodsType != null and goodsType.id != null">goodsType_id = #{goodsType.id,jdbcType=BIGINT},</if>
		store_id= #{store_id},
	</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.GoodsTypeProperty" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_goodstypeproperty 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.GoodsTypeProperty" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_goodstypeproperty obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<update id="update" parameterType="com.redpigmall.domain.GoodsTypeProperty">
		update redpigmall_goodstypeproperty 
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<insert id="save" parameterType="com.redpigmall.domain.GoodsTypeProperty" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
		insert into redpigmall_goodstypeproperty(
		addTime,
		deleteStatus,
		sequence,
		name,
		value,
		display,
		hc_value,
		store_id
		)
		values(
		#{addTime,jdbcType=TIMESTAMP},
		#{deleteStatus,jdbcType=INTEGER},
		#{sequence,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{value,jdbcType=VARCHAR},
		#{display,jdbcType=BIT},
		#{hc_value,jdbcType=VARCHAR},
		#{store_id,jdbcType=BIGINT}
		)
	</insert>
	<delete id="delete" parameterType="java.lang.Long">
		delete from redpigmall_goodstypeproperty where id=#{id,jdbcType=BIGINT}
	</delete>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_goodstypeproperty obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="getGoodsTypeByGoodsTypeId" resultType="com.redpigmall.domain.GoodsTypeProperty" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_goodstypeproperty
		where
			goodsType_id = #{goodsType_id,jdbcType=BIGINT}
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.GoodsTypeProperty" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_goodstypeproperty obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.GoodsTypeProperty" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_goodstypeproperty(addTime,deleteStatus,sequence,name,value,display,hc_value,store_id,goodsType_id)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{sequence,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{value,jdbcType=VARCHAR},#{display,jdbcType=BIT},#{hc_value,jdbcType=VARCHAR},#{store_id,jdbcType=BIGINT},#{goodsType.id,jdbcType=BIGINT}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.GoodsTypeProperty">
		update redpigmall_goodstypeproperty
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_goodstypeproperty where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_goodstypeproperty where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.GoodsTypeProperty" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_goodstypeproperty obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.GoodsTypeProperty" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_goodstypeproperty obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.GoodsTypeProperty" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_goodstypeproperty
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_goodstypeproperty where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
