<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.GroupInfoMapper">
	 
	
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.GroupInfo">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="group_sn" property="group_sn" jdbcType="VARCHAR"/>
		<result column="user_id" property="user_id" jdbcType="BIGINT"/>
		<result column="user_name" property="user_name" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="order_id" property="order_id" jdbcType="BIGINT"/>
		<result column="refund_Time" property="refund_Time" jdbcType="TIMESTAMP"/>
		<result column="refund_complete_Time" property="refund_complete_Time" jdbcType="TIMESTAMP"/>
		<result column="refund_reasion" property="refund_reasion" jdbcType="VARCHAR"/>
		<association property="lifeGoods" column="lifeGoods_id" select="com.redpigmall.dao.GroupLifeGoodsMapper.selectByPrimaryKey"/>
		<association property="payment" column="payment_id" select="com.redpigmall.dao.PaymentMapper.selectByPrimaryKey"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.GroupInfo">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="group_sn" property="group_sn" jdbcType="VARCHAR"/>
		<result column="user_id" property="user_id" jdbcType="BIGINT"/>
		<result column="user_name" property="user_name" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="order_id" property="order_id" jdbcType="BIGINT"/>
		<result column="refund_Time" property="refund_Time" jdbcType="TIMESTAMP"/>
		<result column="refund_complete_Time" property="refund_complete_Time" jdbcType="TIMESTAMP"/>
		<result column="refund_reasion" property="refund_reasion" jdbcType="VARCHAR"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,group_sn,user_id,user_name,lifeGoods_id,status,payment_id,order_id,refund_Time,refund_complete_Time,refund_reasion
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="group_sn != null">and group_sn = #{group_sn,jdbcType=VARCHAR}</if>
		
		<if test="group_sn_like != null">and group_sn like CONCAT('%',#{group_sn_like},'%')  </if>
		
		<if test="user_id != null">and user_id = #{user_id,jdbcType=BIGINT}</if>
		<if test="user_name != null">and user_name = #{user_name,jdbcType=VARCHAR}</if>
		<if test="status != null">and obj.status = #{status,jdbcType=INTEGER}</if>
		
		<if test="statuss != null and statuss.size() >0 ">
			and status in
			<foreach collection="statuss" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="status_no != null">and obj.status != #{status_no,jdbcType=INTEGER}</if>
		<if test="status_no1 != null">and obj.status != #{status_no1,jdbcType=INTEGER}</if>
		<if test="order_id != null">and order_id = #{order_id,jdbcType=BIGINT}</if>
		<if test="refund_Time != null">and refund_Time = #{refund_Time,jdbcType=TIMESTAMP}</if>
		
		<if test="refund_Time_more_than_equal != null">and refund_Time <![CDATA[ >= ]]> #{refund_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="refund_Time_less_than_equal != null">and refund_Time <![CDATA[ <= ]]> #{refund_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		
		<if test="refund_complete_Time != null">and refund_complete_Time = #{refund_complete_Time,jdbcType=TIMESTAMP}</if>
		<if test="refund_reasion != null">and refund_reasion = #{refund_reasion,jdbcType=VARCHAR}</if>
		<if test="lifeGoods_id != null">and lifeGoods_id = #{lifeGoods_id,jdbcType=BIGINT}</if>
		<if test="payment_id != null">and payment_id = #{payment_id,jdbcType=BIGINT}</if>
	</sql>
	<sql id="ifStatement">
		group_sn= #{group_sn},
		user_id= #{user_id},
		user_name= #{user_name},
		<if test="lifeGoods == null or lifeGoods.id == null">lifeGoods_id = null,</if>
		<if test="lifeGoods != null and lifeGoods.id != null">lifeGoods_id = #{lifeGoods.id,jdbcType=BIGINT},</if>
		status= #{status},
		<if test="payment == null or payment.id == null">payment_id = null,</if>
		<if test="payment != null and payment.id != null">payment_id = #{payment.id,jdbcType=BIGINT},</if>
		order_id= #{order_id},
		refund_Time= #{refund_Time},
		refund_complete_Time= #{refund_complete_Time},
		refund_reasion= #{refund_reasion},
	</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.GroupInfo" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_groupinfo 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.GroupInfo" resultMap="BaseResultMap" parameterType="map">
		SELECT obj.* FROM redpigmall_groupinfo obj
		<if test="lifeGoods_goods_type !=null">
			JOIN redpigmall_group_lifegoods lifegoods ON obj.lifegoods_id
			AND lifegoods.goods_type = #{lifeGoods_goods_type,jdbcType=INTEGER}
		</if>
		<if test="lifeGoods_user_id !=null">
			JOIN redpigmall_group_lifegoods glg ON gi.lifeGoods_id = glg.id
			JOIN redpigmall_user u ON glg.user_id = u.id AND u.id = #{lifeGoods_user_id,jdbcType=INTEGER}
		</if>
		
		where 1=1 
		<include refid="whereStatement"/> 
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_groupinfo obj 
		<if test="lifeGoods_goods_type !=null">
			JOIN redpigmall_group_lifegoods lifegoods ON obj.lifegoods_id = lifegoods.id
			AND lifegoods.goods_type = #{lifeGoods_goods_type,jdbcType=INTEGER}
		</if>
		<if test="lifeGoods_user_id !=null">
			JOIN redpigmall_group_lifegoods glg ON obj.lifeGoods_id = glg.id
			JOIN redpigmall_user u ON glg.user_id = u.id AND u.id = #{lifeGoods_user_id,jdbcType=INTEGER}
		</if>
		
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="getLifeGoodsByGroupLifeGoodsId" resultType="com.redpigmall.domain.GroupInfo" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_groupinfo
		where
			lifeGoods_id = #{lifeGoods_id,jdbcType=BIGINT}
	</select>
	<select id="getPaymentByPaymentId" resultType="com.redpigmall.domain.GroupInfo" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_groupinfo
		where
			payment_id = #{payment_id,jdbcType=BIGINT}
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.GroupInfo" resultMap="BaseResultMap" parameterType="map">
		SELECT obj.* FROM redpigmall_groupinfo obj
		<if test="lifeGoods_goods_type !=null">
			JOIN redpigmall_group_lifegoods lifegoods ON obj.lifegoods_id=lifegoods.id AND lifegoods.goods_type=#{lifeGoods_goods_type,jdbcType=INTEGER}
		</if>
		<if test="lifeGoods_user_id !=null">
			JOIN redpigmall_group_lifegoods glg ON obj.lifeGoods_id = glg.id
			JOIN redpigmall_user u ON glg.user_id = u.id AND u.id = #{lifeGoods_user_id,jdbcType=INTEGER}
		</if>
		<if test="lifeGoods_id !=null">
			JOIN redpigmall_group_lifegoods lifegoods1 ON obj.lifegoods_id = lifegoods1.id and lifegoods1.id=#{lifeGoods_id,jdbcType=BIGINT}
		</if>
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.GroupInfo" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_groupinfo(addTime,deleteStatus,group_sn,user_id,user_name,status,order_id,refund_Time,refund_complete_Time,refund_reasion,lifeGoods_id,payment_id)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{group_sn,jdbcType=VARCHAR},#{user_id,jdbcType=BIGINT},#{user_name,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},#{order_id,jdbcType=BIGINT},#{refund_Time,jdbcType=TIMESTAMP},#{refund_complete_Time,jdbcType=TIMESTAMP},#{refund_reasion,jdbcType=VARCHAR},#{lifeGoods.id,jdbcType=BIGINT},#{payment.id,jdbcType=BIGINT}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.GroupInfo">
		update redpigmall_groupinfo
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_groupinfo where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_groupinfo where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.GroupInfo" resultMap="BaseResultMap2" parameterType="map">
		SELECT obj.* FROM redpigmall_groupinfo obj
		<if test="lifeGoods_goods_type !=null">
			JOIN redpigmall_group_lifegoods lifegoods ON obj.lifegoods_id = lifegoods.id
			AND lifegoods.goods_type = #{lifeGoods_goods_type,jdbcType=INTEGER}
		</if>
		<if test="lifeGoods_user_id !=null">
			JOIN redpigmall_group_lifegoods glg ON obj.lifeGoods_id = glg.id
			JOIN redpigmall_user u ON glg.user_id = u.id AND u.id = #{lifeGoods_user_id,jdbcType=INTEGER}
		</if>
				
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.GroupInfo" resultMap="BaseResultMap2" parameterType="map">
		SELECT obj.* FROM redpigmall_groupinfo obj
		<if test="lifeGoods_goods_type !=null">
			JOIN redpigmall_group_lifegoods lifegoods ON obj.lifegoods_id
			AND lifegoods.goods_type = #{lifeGoods_goods_type,jdbcType=INTEGER}
		</if>
		<if test="lifeGoods_user_id !=null">
			JOIN redpigmall_group_lifegoods glg ON gi.lifeGoods_id = glg.id
			JOIN redpigmall_user u ON glg.user_id = u.id AND u.id = #{lifeGoods_user_id,jdbcType=INTEGER}
		</if>
		
		from redpigmall_groupinfo obj 
		where 1=1 
		<include refid="whereStatement"/> 
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.GroupInfo" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_groupinfo
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_groupinfo where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
