<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.IntegralLogMapper">
	 
	
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.IntegralLog">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="integral" property="integral" jdbcType="INTEGER"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="VARCHAR"/>
		<association property="integral_user" column="integral_user_id" select="com.redpigmall.dao.UserMapper.selectByPrimaryKey"/>
		<association property="operate_user" column="operate_user_id" select="com.redpigmall.dao.UserMapper.selectByPrimaryKey"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.IntegralLog">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="integral" property="integral" jdbcType="INTEGER"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="VARCHAR"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,integral_user_id,operate_user_id,integral,type,content
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="integral != null">and integral = #{integral,jdbcType=INTEGER}</if>
		<if test="type != null">and type = #{type,jdbcType=VARCHAR}</if>
		<if test="content != null">and content = #{content,jdbcType=VARCHAR}</if>
		<if test="integral_user_id != null">and integral_user_id = #{integral_user_id,jdbcType=BIGINT}</if>
		<if test="operate_user_id != null">and operate_user_id = #{operate_user_id,jdbcType=BIGINT}</if>
	</sql>
	<sql id="ifStatement">
		<if test="integral_user == null or integral_user.id == null">integral_user_id = null,</if>
		<if test="integral_user != null and integral_user.id != null">integral_user_id = #{integral_user.id,jdbcType=BIGINT},</if>
		<if test="operate_user == null or operate_user.id == null">operate_user_id = null,</if>
		<if test="operate_user != null and operate_user.id != null">operate_user_id = #{operate_user.id,jdbcType=BIGINT},</if>
		integral= #{integral},
		type= #{type},
		content= #{content},
	</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.IntegralLog" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_integrallog 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.IntegralLog" resultMap="BaseResultMap" parameterType="map">
		select
			obj.*
		from redpigmall_integrallog obj 
		<if test="integral_user_userName !=null">
			join redpigmall_user integral_user on integral_user.id = obj.integral_user_id and integral_user.userName=#{integral_user_userName,jdbcType=VARCHAR} 
		</if>
		
		where 1=1 
		<include refid="whereStatement"/> 
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_integrallog obj 
		<if test="integral_user_userName !=null">
			join redpigmall_user u on u.id = obj.integral_user_id and u.userName=#{integral_user_userName,jdbcType=VARCHAR} 
		</if>
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="getIntegralUserByUserId" resultType="com.redpigmall.domain.IntegralLog" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_integrallog
		where
			integral_user_id = #{integral_user_id,jdbcType=BIGINT}
	</select>
	<select id="getOperateUserByUserId" resultType="com.redpigmall.domain.IntegralLog" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_integrallog
		where
			operate_user_id = #{operate_user_id,jdbcType=BIGINT}
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.IntegralLog" resultMap="BaseResultMap" parameterType="map">
		select
			obj.*
		from redpigmall_integrallog obj 
		<if test="integral_user_userName !=null">
			join redpigmall_user u on u.id = obj.integral_user_id and u.userName=#{integral_user_userName,jdbcType=VARCHAR} 
		</if>			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.IntegralLog" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_integrallog(addTime,deleteStatus,integral,type,content,integral_user_id,operate_user_id)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{integral,jdbcType=INTEGER},#{type,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{integral_user.id,jdbcType=BIGINT},#{operate_user.id,jdbcType=BIGINT}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.IntegralLog">
		update redpigmall_integrallog
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_integrallog where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_integrallog where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.IntegralLog" resultMap="BaseResultMap2" parameterType="map">
		select
			obj.*
		from redpigmall_integrallog obj 
		<if test="integral_user_userName !=null">
			join redpigmall_user u on u.id = obj.integral_user_id and u.userName=#{integral_user_userName,jdbcType=VARCHAR} 
		</if>
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.IntegralLog" resultMap="BaseResultMap2" parameterType="map">
		select
			obj.*
		from redpigmall_integrallog obj 
		<if test="integral_user_userName !=null">
			join redpigmall_user u on u.id = obj.integral_user_id and u.userName=#{integral_user_userName,jdbcType=VARCHAR} 
		</if>
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.IntegralLog" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_integrallog
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_integrallog where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
