<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.LuckydrawRecordMapper">
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.LuckydrawRecord">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>

		<result column="timer" property="timer" jdbcType="INTEGER"/>
		<result column="is_win" property="is_win" jdbcType="INTEGER"/>
		<result column="reward_count" property="reward_amout" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>

		<association property="user" column="user_id" select="com.redpigmall.dao.UserMapper.selectByPrimaryKey"/>
		<association property="luckydraw" column="luckydraw_id" select="com.redpigmall.dao.LuckydrawMapper.selectByPrimaryKey"/>
		<association property="luckydrawReward" column="luckydraw_reward_id" select="com.redpigmall.dao.LuckydrawRewardMapper.selectByPrimaryKey"/>
	</resultMap>
	
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.LuckydrawRecord">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>

		<result column="timer" property="timer" jdbcType="INTEGER"/>
		<result column="is_win" property="is_win" jdbcType="INTEGER"/>
		<result column="reward_count" property="reward_amout" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,
		timer,is_win,reward_count,status,remark,
		user_id,luckydraw_id,luckydraw_reward_id
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>

		<if test="timer != null">and timer = #{timer,jdbcType=INTEGER}</if>
		<if test="is_win != null">and is_win = #{is_win,jdbcType=INTEGER}</if>
		<if test="reward_count != null">and reward_count = #{reward_count,jdbcType=INTEGER}</if>
		<if test="status != null">and status = #{status,jdbcType=INTEGER}</if>
		<if test="remark != null">and remark = #{remark,jdbcType=VARCHAR}</if>

		<if test="user_id != null">and user_id = #{user_id,jdbcType=BIGINT}</if>
		<if test="luckydraw_id != null">and luckydraw_id = #{luckydraw_id,jdbcType=BIGINT}</if>
		<if test="luckydraw_reward_id != null">and luckydraw_reward_id = #{luckydraw_reward_id,jdbcType=BIGINT}</if>
	</sql>
	
	<sql id="ifStatement">
		id= #{id},
		addTime = #{addTime},
		deleteStatus= #{deleteStatus},

		timer= #{timer},
		is_win= #{is_win},
		reward_count= #{reward_amout},
		status= #{status},
		remark= #{remark},

		<if test="user == null or user.id == null">user_id = null,</if>
		<if test="user != null and user.id != null">user_id = #{user.id,jdbcType=BIGINT},</if>
		<if test="luckydraw == null or luckydraw.id == null">luckydraw_id = null,</if>
		<if test="luckydraw != null and luckydraw.id != null">luckydraw_id = #{luckydraw.id,jdbcType=BIGINT},</if>
		<if test="luckydrawReward == null or luckydrawReward.id == null">luckydraw_reward_id = null,</if>
		<if test="luckydrawReward != null and luckydrawReward.id != null">luckydraw_reward_id = #{luckydrawReward.id,jdbcType=BIGINT},</if>
	</sql>
	
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.LuckydrawRecord" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_luckydraw_record
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="queryPageList" resultType="com.redpigmall.domain.LuckydrawRecord" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_luckydraw_record obj 
		where 1=1 
		<include refid="whereStatement"/> 
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
		</if>
	</select>
	
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_luckydraw_record obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	
	<select id="queryPages" resultType="com.redpigmall.domain.LuckydrawRecord" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_luckydraw_record obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	
	<insert id="saveEntity" parameterType="com.redpigmall.domain.LuckydrawRecord" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_luckydraw_record(addTime,deleteStatus,
		timer,is_win,reward_count,status,remark,
		user_id,luckydraw_id,luckydraw_reward_id)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},
		#{timer,jdbcType=INTEGER},#{is_win,jdbcType=INTEGER},
		#{reward_amout,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR},
		 #{user.id,jdbcType=BIGINT},
		 #{luckydraw.id,jdbcType=BIGINT},
		 #{luckydrawReward.id,jdbcType=BIGINT},
	)</insert>
	
	<update id="updateById" parameterType="com.redpigmall.domain.LuckydrawRecord">
		update redpigmall_luckydraw_record
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_luckydraw_record where id=#{id,jdbcType=BIGINT}
	</delete>
	
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_luckydraw_record where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.LuckydrawRecord" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_luckydraw_record obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.LuckydrawRecord" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_luckydraw_record obj 
		where 1=1 
		<include refid="whereStatement"/> 
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
		</if>
	</select>
	
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.LuckydrawRecord" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_luckydraw_record
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_luckydraw_record where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
	
</mapper>
