<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.OrderFormLogMapper">
     
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.OrderFormLog">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="log_info" property="log_info" jdbcType="VARCHAR"/>
		<result column="log_user_id" property="log_user_id" jdbcType="BIGINT"/>
		<result column="log_user_name" property="log_user_name" jdbcType="VARCHAR"/>
		<result column="state_info" property="state_info" jdbcType="VARCHAR"/>
		<association property="of" column="of_id" select="com.redpigmall.dao.OrderFormMapper.selectByPrimaryKey"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.OrderFormLog">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="log_info" property="log_info" jdbcType="VARCHAR"/>
		<result column="log_user_id" property="log_user_id" jdbcType="BIGINT"/>
		<result column="log_user_name" property="log_user_name" jdbcType="VARCHAR"/>
		<result column="state_info" property="state_info" jdbcType="VARCHAR"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,of_id,log_info,log_user_id,log_user_name,state_info
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="log_info != null">and log_info = #{log_info,jdbcType=VARCHAR}</if>
		<if test="log_user_id != null">and log_user_id = #{log_user_id,jdbcType=BIGINT}</if>
		<if test="log_user_name != null">and log_user_name = #{log_user_name,jdbcType=VARCHAR}</if>
		<if test="state_info != null">and state_info = #{state_info,jdbcType=VARCHAR}</if>
		<if test="of_id != null">and of_id = #{of_id,jdbcType=BIGINT}</if>
	</sql>
	<sql id="ifStatement">
		<if test="of == null or of.id == null">of_id = null,</if>
		<if test="of != null and of.id != null">of_id = #{of.id,jdbcType=BIGINT},</if>
		log_info= #{log_info},
		log_user_id= #{log_user_id},
		log_user_name= #{log_user_name},
		state_info= #{state_info},
	</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.OrderFormLog" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_order_log 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.OrderFormLog" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_order_log obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_order_log obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="getOfByOrderFormId" resultType="com.redpigmall.domain.OrderFormLog" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_order_log
		where
			of_id = #{of_id,jdbcType=BIGINT}
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.OrderFormLog" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_order_log obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.OrderFormLog" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_order_log(addTime,deleteStatus,log_info,log_user_id,log_user_name,state_info,of_id)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{log_info,jdbcType=VARCHAR},#{log_user_id,jdbcType=BIGINT},#{log_user_name,jdbcType=VARCHAR},#{state_info,jdbcType=VARCHAR},#{of.id,jdbcType=BIGINT}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.OrderFormLog">
		update redpigmall_order_log
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_order_log where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_order_log where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.OrderFormLog" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_order_log obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.OrderFormLog" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_order_log obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.OrderFormLog" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_order_log
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_order_log where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
