<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.StoreAdjustInfoMapper">
	 
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.StoreAdjustInfo">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
		<result column="store_name" property="store_name" jdbcType="VARCHAR"/>
		<result column="apply_status" property="apply_status" jdbcType="INTEGER"/>
		<result column="adjust_type" property="adjust_type" jdbcType="VARCHAR"/>
		<result column="adjust_store_grade" property="adjust_store_grade" jdbcType="VARCHAR"/>
		<result column="adjust_storeGrade_id" property="adjust_storeGrade_id" jdbcType="BIGINT"/>
		<result column="adjust_gc_main" property="adjust_gc_main" jdbcType="VARCHAR"/>
		<result column="adjust_gc_main_id" property="adjust_gc_main_id" jdbcType="BIGINT"/>
		<result column="adjust_gc_info" property="adjust_gc_info" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.StoreAdjustInfo">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="store_id" property="store_id" jdbcType="BIGINT"/>
		<result column="store_name" property="store_name" jdbcType="VARCHAR"/>
		<result column="apply_status" property="apply_status" jdbcType="INTEGER"/>
		<result column="adjust_type" property="adjust_type" jdbcType="VARCHAR"/>
		<result column="adjust_store_grade" property="adjust_store_grade" jdbcType="VARCHAR"/>
		<result column="adjust_storeGrade_id" property="adjust_storeGrade_id" jdbcType="BIGINT"/>
		<result column="adjust_gc_main" property="adjust_gc_main" jdbcType="VARCHAR"/>
		<result column="adjust_gc_main_id" property="adjust_gc_main_id" jdbcType="BIGINT"/>
		<result column="adjust_gc_info" property="adjust_gc_info" jdbcType="VARCHAR"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,store_id,store_name,apply_status,adjust_type,adjust_store_grade,adjust_storeGrade_id,adjust_gc_main,adjust_gc_main_id,adjust_gc_info
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="store_id != null">and store_id = #{store_id,jdbcType=BIGINT}</if>
		<if test="store_name != null">and store_name = #{store_name,jdbcType=VARCHAR}</if>
		<if test="apply_status != null">and apply_status = #{apply_status,jdbcType=INTEGER}</if>
		<if test="adjust_type != null">and adjust_type = #{adjust_type,jdbcType=VARCHAR}</if>
		<if test="adjust_store_grade != null">and adjust_store_grade = #{adjust_store_grade,jdbcType=VARCHAR}</if>
		<if test="adjust_storeGrade_id != null">and adjust_storeGrade_id = #{adjust_storeGrade_id,jdbcType=BIGINT}</if>
		<if test="adjust_gc_main != null">and adjust_gc_main = #{adjust_gc_main,jdbcType=VARCHAR}</if>
		<if test="adjust_gc_main_id != null">and adjust_gc_main_id = #{adjust_gc_main_id,jdbcType=BIGINT}</if>
		<if test="adjust_gc_info != null">and adjust_gc_info = #{adjust_gc_info,jdbcType=VARCHAR}</if>
	</sql>
	<sql id="ifStatement">
		store_id= #{store_id},
		store_name= #{store_name},
		apply_status= #{apply_status},
		adjust_type= #{adjust_type},
		adjust_store_grade= #{adjust_store_grade},
		adjust_storeGrade_id= #{adjust_storeGrade_id},
		adjust_gc_main= #{adjust_gc_main},
		adjust_gc_main_id= #{adjust_gc_main_id},
		adjust_gc_info= #{adjust_gc_info},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.StoreAdjustInfo" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_store_adjust_info 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.StoreAdjustInfo" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_store_adjust_info obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_store_adjust_info obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.StoreAdjustInfo" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_store_adjust_info obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.StoreAdjustInfo" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_store_adjust_info(addTime,deleteStatus,store_id,store_name,apply_status,adjust_type,adjust_store_grade,adjust_storeGrade_id,adjust_gc_main,adjust_gc_main_id,adjust_gc_info)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{store_id,jdbcType=BIGINT},#{store_name,jdbcType=VARCHAR},#{apply_status,jdbcType=INTEGER},#{adjust_type,jdbcType=VARCHAR},#{adjust_store_grade,jdbcType=VARCHAR},#{adjust_storeGrade_id,jdbcType=BIGINT},#{adjust_gc_main,jdbcType=VARCHAR},#{adjust_gc_main_id,jdbcType=BIGINT},#{adjust_gc_info,jdbcType=VARCHAR}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.StoreAdjustInfo">
		update redpigmall_store_adjust_info
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_store_adjust_info where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_store_adjust_info where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.StoreAdjustInfo" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_store_adjust_info obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.StoreAdjustInfo" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_store_adjust_info obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.StoreAdjustInfo" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_store_adjust_info
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_store_adjust_info where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
