<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.UserShareMapper">
	 
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.UserShare">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="user_id" property="user_id" jdbcType="BIGINT"/>
		<result column="user_name" property="user_name" jdbcType="VARCHAR"/>
		<result column="share_goods_id" property="share_goods_id" jdbcType="BIGINT"/>
		<result column="share_goods_name" property="share_goods_name" jdbcType="VARCHAR"/>
		<result column="share_goods_photo" property="share_goods_photo" jdbcType="VARCHAR"/>
		<result column="share_content" property="share_content" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.UserShare">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="user_id" property="user_id" jdbcType="BIGINT"/>
		<result column="user_name" property="user_name" jdbcType="VARCHAR"/>
		<result column="share_goods_id" property="share_goods_id" jdbcType="BIGINT"/>
		<result column="share_goods_name" property="share_goods_name" jdbcType="VARCHAR"/>
		<result column="share_goods_photo" property="share_goods_photo" jdbcType="VARCHAR"/>
		<result column="share_content" property="share_content" jdbcType="VARCHAR"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,user_id,user_name,share_goods_id,share_goods_name,share_goods_photo,share_content
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="user_id != null">and user_id = #{user_id,jdbcType=BIGINT}</if>
		<if test="user_name != null">and user_name = #{user_name,jdbcType=VARCHAR}</if>
		<if test="share_goods_id != null">and share_goods_id = #{share_goods_id,jdbcType=BIGINT}</if>
		<if test="share_goods_name != null">and share_goods_name = #{share_goods_name,jdbcType=VARCHAR}</if>
		<if test="share_goods_photo != null">and share_goods_photo = #{share_goods_photo,jdbcType=VARCHAR}</if>
		<if test="share_content != null">and share_content = #{share_content,jdbcType=VARCHAR}</if>
	</sql>
	<sql id="ifStatement">
		user_id= #{user_id},
		user_name= #{user_name},
		share_goods_id= #{share_goods_id},
		share_goods_name= #{share_goods_name},
		share_goods_photo= #{share_goods_photo},
		share_content= #{share_content},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.UserShare" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_user_share 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.UserShare" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_user_share obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_user_share obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.UserShare" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_user_share obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.UserShare" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_user_share(addTime,deleteStatus,user_id,user_name,share_goods_id,share_goods_name,share_goods_photo,share_content)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{user_id,jdbcType=BIGINT},#{user_name,jdbcType=VARCHAR},#{share_goods_id,jdbcType=BIGINT},#{share_goods_name,jdbcType=VARCHAR},#{share_goods_photo,jdbcType=VARCHAR},#{share_content,jdbcType=VARCHAR}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.UserShare">
		update redpigmall_user_share
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_user_share where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_user_share where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.UserShare" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_user_share obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.UserShare" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_user_share obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.UserShare" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_user_share
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_user_share where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
