<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redpigmall.dao.UserLevelMapper">
	 
    
	<resultMap id="BaseResultMap" type="com.redpigmall.domain.UserLevel">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="level_name" property="level_name" jdbcType="VARCHAR"/>
		<result column="level_up" property="level_up" jdbcType="INTEGER"/>
		<result column="level_down" property="level_down" jdbcType="INTEGER"/>
		<result column="level_icon" property="level_icon" jdbcType="VARCHAR"/>
		<result column="level_icon_type" property="level_icon_type" jdbcType="INTEGER"/>
		<result column="sys_seq" property="sys_seq" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.redpigmall.domain.UserLevel">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
		<result column="level_name" property="level_name" jdbcType="VARCHAR"/>
		<result column="level_up" property="level_up" jdbcType="INTEGER"/>
		<result column="level_down" property="level_down" jdbcType="INTEGER"/>
		<result column="level_icon" property="level_icon" jdbcType="VARCHAR"/>
		<result column="level_icon_type" property="level_icon_type" jdbcType="INTEGER"/>
		<result column="sys_seq" property="sys_seq" jdbcType="VARCHAR"/>
	</resultMap>
	<!--database table column names-->
	<sql id="Base_Column_List">
		id,addTime,deleteStatus,level_name,level_up,level_down,level_icon,level_icon_type,sys_seq
	</sql>
	<sql id="whereStatement">
		<if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
		<if test="id_no != null">and id != #{id_no,jdbcType=BIGINT}</if>
		<if test="addTime != null">and addTime = #{addTime,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_more_than_equal != null">and addTime <![CDATA[ >= ]]> #{add_Time_more_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="add_Time_less_than_equal != null">and addTime <![CDATA[ <= ]]> #{add_Time_less_than_equal,jdbcType=TIMESTAMP}</if>
		<if test="deleteStatus != null">and deleteStatus = #{deleteStatus,jdbcType=INTEGER}</if>
		<if test="level_name != null">and level_name = #{level_name,jdbcType=VARCHAR}</if>
		<if test="level_up != null">and level_up = #{level_up,jdbcType=INTEGER}</if>
		<if test="level_down != null">and level_down = #{level_down,jdbcType=INTEGER}</if>
		<if test="level_icon != null">and level_icon = #{level_icon,jdbcType=VARCHAR}</if>
		<if test="level_icon_type != null">and level_icon_type = #{level_icon_type,jdbcType=INTEGER}</if>
		<if test="sys_seq != null">and sys_seq = #{sys_seq,jdbcType=VARCHAR}</if>
	</sql>
	<sql id="ifStatement">
		level_name= #{level_name},
		level_up= #{level_up},
		level_down= #{level_down},
		level_icon= #{level_icon},
		level_icon_type= #{level_icon_type},
		sys_seq= #{sys_seq},</sql>
	<select id="selectByPrimaryKey" resultType="com.redpigmall.domain.UserLevel" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List"/> 
		from redpigmall_user_level 
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="queryPageList" resultType="com.redpigmall.domain.UserLevel" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_user_level obj 
		where 1=1 
		<include refid="whereStatement"/> 
		<choose>
			<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
			<otherwise>
					order by obj.addTime desc
			</otherwise>
		</choose>
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from redpigmall_user_level obj 
		where 1 = 1  
		<include refid="whereStatement"/> 
	</select>
	<select id="queryPages" resultType="com.redpigmall.domain.UserLevel" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_user_level obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<insert id="saveEntity" parameterType="com.redpigmall.domain.UserLevel" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into redpigmall_user_level(addTime,deleteStatus,level_name,level_up,level_down,level_icon,level_icon_type,sys_seq)
	 values(#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=INTEGER},#{level_name,jdbcType=VARCHAR},#{level_up,jdbcType=INTEGER},#{level_down,jdbcType=INTEGER},#{level_icon,jdbcType=VARCHAR},#{level_icon_type,jdbcType=INTEGER},#{sys_seq,jdbcType=VARCHAR}
	)</insert>
	<update id="updateById" parameterType="com.redpigmall.domain.UserLevel">
		update redpigmall_user_level
		<set>
			<include refid="ifStatement"/>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
			delete from redpigmall_user_level where id=#{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="java.util.List">
		delete from redpigmall_user_level where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="queryPagesWithNoRelations" resultType="com.redpigmall.domain.UserLevel" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_user_level obj 			
		<where>
			1=1
			<include refid="whereStatement"/>
			<choose>
				<when test="orderBy != null and orderType != null">
					order by ${orderBy} ${orderType}
				</when>
				<otherwise>
					order by obj.addTime desc
				</otherwise>
			</choose>
		</where>
		<if test="currentPage !=null and pageSize !=null">
			limit #{currentPage},#{pageSize} 
		</if>
	</select>
	<select id="queryPageListWithNoRelations" resultType="com.redpigmall.domain.UserLevel" resultMap="BaseResultMap2" parameterType="map">
		select
		<include refid="Base_Column_List"/> 
		from redpigmall_user_level obj 
		where 1=1 
		<include refid="whereStatement"/> 
				order by obj.addTime desc
		<if test="currentPage !=null and pageSize !=null"> 
				limit #{currentPage},#{pageSize} 
			</if>
	</select>
	<select id="selectObjByProperty" resultType="com.redpigmall.domain.UserLevel" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from redpigmall_user_level
		where 1 = 1 
		<if test="operation_property != null and operation_symbol !=null and operation_value !=null">
				and ${operation_property} <![CDATA[ ${operation_symbol} ]]>#{operation_value}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from redpigmall_user_level where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>
