<nav class="public-nav-layout">
  <div class="wrapper">
    <div class="all-category">
      
<div class="title"> <i></i>
  <h3><a href="$!webPath/goods_class">所有商品分类</a></h3>
</div>
<div class="category">
  <ul class="menu">
     #foreach($sc in $!sc_list)
     #if($!sc.display==true)
     #set($icon_img="$!imageWebServer/resources/style/common/images/icon/default_icon.png") 
      <li cat_id="$!{velocityCount}" class="odd">
            #if($!sc.icon_type==0)
	            #if($!sc.icon_sys!="")
	            	#set($icon_img="$!imageWebServer/resources/style/common/images/icon/icon_$!{sc.icon_sys}.png")
	            #end
            #else
	            #if($!sc.photo_id)         
	             	#set($icon_img="$!imageWebServer/$!showClassTools.getaccessory($!sc.photo_id).path/$!showClassTools.getaccessory($!sc.photo_id).name")
	            #end
            #end
            
      		<!-- 左侧下拉导航start -->
      		<div class="class">
                <span class="ico"><img src="$!icon_img"></span>
                <h4>
				#if($!sc.recommend==false) 
	              	#set($s_ccs=$!showClassTools.getSecondSclist($!sc.id,"3"))
		              #if($!s_ccs.size()>0)
		              #foreach($sgc in $!s_ccs)
			               <a 
			               #if($!sgc.show_type=="0")
				               #if($!sgc.url=="") 
				               		href="$!webPath/store_goods_list?sc_id=$!{sgc.id}"
				               #else
				               		href ="$!sgc.url"
				               #end
			               #end
			              #if($!sgc.show_type=="1") href ="$!webPath/channel/index_$!{sgc.channel_id}" #end target="_blank" > $!sgc.showName</a> 
			              
			              #if($!s_ccs.size()!=$!{sgc.velocityCount})&nbsp;&nbsp;#end
			          #end
			              
			          #else 
			              	<a #if($!sc.show_type=="0") #if($!sc.url=="") href="$!webPath/store_goods_list?sc_id=$!{sc.id}" #else href ="$!sc.url" #end #end
			            		#if($!sc.show_type=="1") href ="$!webPath/channel/index_$!{sc.channel_id}" #end target="_blank">$!sc.showName</a> 
			          #end 
	              #else
	              	<a #if($!sc.show_type=="0") #if($!sc.url=="") href="$!webPath/store_goods_list?sc_id=$!{sc.id}" #else href ="$!sc.url" #end #end
	            		#if($!sc.show_type=="1") href ="$!webPath/channel/index_$!{sc.channel_id}" #end target="_blank">$!sc.showName</a> 	
	              #end
                </h4>
        		 
        	</div>
      		<!-- 左侧下拉导航end -->
	  
      <div class="sub-class" cat_menu_id="$!{velocityCount}">
      <div class="sub-class-content">
		  #set($adv_map=$!showClassTools.query_sc_advert_colony($!sc.id,"$!webPath","$!imageWebServer"))
		  #set($scbsrc=$!showClassTools.getscbrandsrc($!sc.id,"6"))
          #set($scb=$!showClassTools.getscbrand($!sc.id))
          #if($!scb.size()>0)
          <div class="recommend-class">
          	#foreach($map in $scb) 
                    <span><a href="$!webPath/brand_goods_$!{map.get('id')}" title="$!{map.get('name')}">$!{map.get('name')}</a></span>
            #end
          </div>
          #end
          
          #foreach($scc in $sc.childs)
	          #if($!scc.display==true)
	          <dl>
		          <dt>
		            <h3>
							<a 
		                       #if($!scc.show_type=="0")
		                       #if($!scc.url=="")
		                       href="$!webPath/store_goods_list?sc_id=$!{scc.id}" 
		                       #else
		                       href="$!scc.url" 
		                       #end
		                       #end
		                      	 #if($!scc.show_type=="1") href="$!webPath/channel/index_$!{scc.channel_id}" #end target="_blank">$!scc.showName</a>
					</h3>
		          </dt>
		          <dd class="goods-class">
		          #foreach($gc2 in $!showClassTools.getSclist($!scc.id)) 
		                        <a href="$!webPath/store_goods_list_$!{gc2.id}">$!gc2.className</a>
				  #end
		                        
		          </dd>
	          </dl>
	          #end
          #end
         
             
      </div>
        <div class="sub-class-right">
          <div class="brands-list">
           <ul>
              #if($!scbsrc.size()>0)
              #foreach($map in $scbsrc) 
             <li> <a title="$!{map.name}" href="$!webPath/brand_goods_$!{map.id}"><img alt="$!{map.name}" heiht="30" src="$!imageWebServer/$!{map.src}" width="90"><span>$!{map.name}</span></a></li>
             #end
             #end
           </ul>
          </div>
          <div class="adv-promotions"></div>
        </div>
      </div>
    </li>
    #end
    #end
          </ul>
</div>
    </div>
    
    <ul class="site-menu">
      #set($navs=$!navTools.queryNav(0,-1))
      #foreach($nav in $navs)
      #if($!CommUtil.indexOf("$!nav.url","http://")>=0)
      #set($url="$!nav.url")
      #else
      #set($url="$!webPath/$!{nav.url}")
      #end
      <li><a href="$!url" #if($!nav.new_win==1)target="_blank"#end >$!{nav.title}</a></li>
      #end
    </ul>
  </div>
</nav>